#solucion tarea 1

#1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 4
print(x)

4

In [ ]:
#2) Imprimir el tipo de dato de la constante 8.5
type(8.5)

float

In [3]:
#3) Imprimir el tipo de dato de la variable creada en el punto 1
type(x)

int

In [8]:
#4) Crear una variable que contenga tu nombre

mi_nombre = "Camilo"
print(mi_nombre)

Camilo

In [9]:
#5) Crear una variable que contenga un número complejo

x1 = 5j
print(x1)

5j

In [10]:
#6) Mostrar el tipo de dato de la variable crada en el punto 5

type(x1)

complex

In [19]:
#7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

pi = 3.141592

In [9]:
import math
round(math.pi,4)

3.1416

In [4]:
pi = 3.141592
round(pi,4)

3.1416

#8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [20]:
mivar = "True"
mivar1 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [23]:
print("la variable 1 es de tipo", type(mivar), "y la variable 2 es de tipo", type(mivar1))

la variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
x2 = 10.2
print(x+x2)

14.2

11) Realizar una operación de suma de números complejos

In [26]:
x3 = 2j
x4 = 6j
print(x3+x4)

8j

12) Realizar una operación de suma de un número real y otro complejo

In [27]:
print(x+x3)

(4+2j)

13) Realizar una operación de multiplicación

In [29]:
print(9*52)

468

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
2**8

256

15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
x6 = 27
x7 = 4
print(x6/x7)

6.75

16. De la división anterior solamente mostrar la parte entera

In [32]:
print(x6//x7)

6

17.De la división de 27 entre 4 mostrar solamente el resto

In [33]:
print(x6%x7)

3

18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [34]:
print(4*(x6//x7)+(x6%x7))

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [35]:
mivar1 = "caracas "
mivar2 = "hermosa"
print(mivar1+mivar2)

caracas hermosa

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [38]:
x9 = "2"
x10 = 2
print(x9 == x10)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [41]:
print(int(x9) == x10)

True

22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [14]:
a = float(3,8)     #arroja error porque se tiene que anotar con. y no con ,

TypeError: float expected at most 1 argument, got 2

In [26]:
a = ("3,8")
a = a.replace(",",".")
a

'3.8'

In [45]:
a = float("3.8")  #colocado con .(punto)

23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [53]:
x11 = 3
x11 -= 6
print(x11)

-3

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [57]:
x12 = 1
x13 = 2
print(x12<<x13)    # << comando que ultiliza para multiplicar dos veces

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [58]:
print(2+"2") #arroja el error debido a que uno de los datos es jun int y el string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [60]:
print("2"+"2")

22

In [61]:
print(2+2)

4

26) Realizar una operación válida entre valores de tipo entero y string

In [63]:
x14 = "hola "
x15 = 2023
print(x14+str(x15))

hola 2023